@charset "utf-8";
/* CSS Document */
body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #a9e8ff url(blackgoose.png) no-repeat center 100px fixed;
  /*background-image: url(images/bullseye.png);
  background-position: center 200px;*/
}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;   
  text-shadow: .05em .05em .1em gray;
  background-color: rgba(255,255,255,.5);
  background: 
	url(purpledot.png) left top repeat-y,
	url(purpledot.png) right top repeat-y,
	url(gooseshadow.png) 90% bottom no-repeat;
}

a {
  text-decoration: none;
}

a:link {

  color: #930793;
}

a:visited {
	color:	#937390;
}

a:hover {
	color: #c700f2;
	background-color: white;
}

a:active {
	background-color: white;
	color: #f0f;
}

h1 {
  font: bold 1.5em Georgia, serif;
  text-shadow: .1em .1em .2em gray;
  color: #930793;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  text-shadow: .05em .05em .1em gray;
  letter-spacing: .5em;
  text-align: center;
  color: #771c00;
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}
