@charset "utf-8";
/* CSS Document */

body{
    background-color: paleturquoise;
}

h1 {
	font-family: 'Baloo 2', cursive;
    font-size: 20px;
}

h2 {
	font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

h3 {
	font-family: 'Bellota Text', cursive;
    font-size: 20px;
}

h4 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 20px;
}

h5 {

}

h6 {
	font-family: "Rubik Black", cursive;
    font-size: 20px;
}

h7 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 40px;
    border-bottom: 2px solid #00A3FF;
}