@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

header {
  width: 1040px;
  margin:0 auto; 
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;   
  text-shadow: .05em .05em .1em gray;
  background-color: rgba(255,255,255,.5);
   margin-bottom: 30px;
  /*background: 
	url(logo.png) 5% 50% no-repeat;*/
}

body {
	width: auto;
	line-height: 1;
	font-family: "Bookman Old Style";
	color: #464646;
	background-color: #8AECFC;
}

.backgroundimage{
	width: auto;
    background-position: center;
    background-repeat: no-repeat;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  padding: 12px 12px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}
.dropdown2-content {
  display: none;
  position: absolute;
  padding: 12px 20px;
  z-index: 1;
}
.dropdown2:hover .dropdown2-content {
  display: block;
}

#wrapper {
	width: 1200px;
    overflow: hidden;
	margin: 20px auto;
    background-color: white;
	padding: 20px;
}
#columns{
column-count: 2
}
.buttons{
    float:left;
    border-radius: 25px;
    padding: 20px; 
    width: 415px;
}
.buttonpadding{
	width: 415px;
	float: center;
	text-align: center;
}

#bottombutton{
	width: auto;
	float: center;
	margin-bottom: 50px;
	  margin-left:10%;
}
.bottombuttons{
    float:left;
    /*border-radius: 25px;
    padding-top: 20px; 
	padding-left: 20px; 
	padding-right: 20px; */
    width: 150px;

}
.bottombuttonpadding{
	float: center;
	margin: 50px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  width: auto;
  text-align: center;
	
}
.flex-container > div {
  width: 150px;
  margin: 30px;
  line-height: 20px;
  font-size: 20px;
}

footer {
  /*left: 0;*/
  bottom: 0;
  padding-top: 100px;
  width: auto;
  background-color: white;
  color: black;

}
.column {
	width: 960px;
	margin: 0 10px;
	float: left;
}

#sitename{
    text-align: center;
}

.sectionstyle1{
	margin-top: 30px;
	margin-bottom:20px;
	margin-left:5%;
	float:center;
	text-align:center;
	width:90%;
}
.sectionstyle2{
	margin-top: 30px;
	margin-bottom:20px;
	margin-left:5%;
	float:center;
	text-align:left;
	width:90%;
}
.sectionstyle3{
	margin-top: 30px;
	margin-bottom:20px;
	margin-left:10%;
	margin-right:10%;
	text-align:left;
	width:95%;
}
.sectionstyle4{
	margin-top: 30px;
	margin-bottom:20px;
	margin-left:15%;
	float:center;
	text-weight:normal;
	text-align:center;
	width:70%;
}
.sectionstyle5{
	margin-top: 30px;
	margin-bottom:20px;
	margin-left:15%;
	float:center;
	text-weight:normal;
	text-align:left;
	width:70%;
}
.position{
	margin-bottom:20px;
	margin-left:30%;
	float:center;
	text-weight:normal;
	text-align:center;
	width:70%;
	line-height: 32px;
}

h1 {
	width:auto;
	margin-top: 20px;
	padding-left: 100px;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}
h10 {
	width:auto;
	margin-top: 20px;
	padding-left: 100px;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: lightgray;
}
h2 {
	font-size: 35px;
	font-weight: normal;
	text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}
h3 {
	font-size: 24px;
	font-weight: normal;
	text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}
h4 {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
    padding-bottom: 10px;
    line-height: 20px;
    color: #7F7E7E;
}
h5 {
	width: normal;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	padding-left:200px;
	padding-right:200px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #7F7E7E;
}
h6 {
	width: normal;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
    line-height: 20px;
    color: #2E2E2E;
}
h7{
	font-size: 12px;
	color: #2B2B2B;
	text-align: center;
}
h8 {
  font-size: 17px;
  line-height: 30px;
  width: 80%;
  padding-bottom: 100px;
}
h9 {
  font-size: 17px;
	text-align: left;
  line-height: 30px;
  width: 80%;
  padding-bottom: 100px;
}
h11 {
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  width: 80%;
  padding-bottom: 100px;
}
h12 {
  font-size: 20px;
  color:#313131;
  font-weight: bold;
  line-height: 30px;
  width: 80%;
  padding-bottom: 100px;
}
h13 {
  font-size: 17px;
	text-align: center;
  line-height: 30px;
  width: 80%;
  padding-bottom: 100px;
}
h14 {
  font-size: 14px;
	text-align: center;
  line-height: 30px;
  width: 80%;
  padding-bottom: 100px;
}

p {
  font-size: 17px;
  padding-bottom: 12px;
  line-height: 30px;
  margin-left: 32%;
}

.dropdownbutton{
  vertical-align: top;	
}
.dropdownbutton a, a:visited{
  width: 4.5em;
  margin: 0 5px;
  padding: .5em 1em;
  text-decoration: none;
  text-align: center;
  letter-spacing: .1em;
  color: #1D1D1D;
  position: relative;
  top: 0px;
  transition:  
    background-color 0.2s,
    border-color 0.2s, 
    top 0.1s, 
    box-shadow 0.1s; 
}
.dropdownbutton a:hover { 	
  background-color: #2689FF; 	
  border-color: #113AFB; 
  color: white; 
} 
.dropdownbutton a:active {
  top: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.topbuttons a,a:visited{
  display: block;
  width: 8em;
  margin: 5 5px;
  padding: .1em .5em;
  text-decoration: none;
  text-align: center;
  letter-spacing: .1em;
  color: #1D1D1D;
  background-color: rgba(236,236,236,1.00);
  position: relative;
  top: 0px;
  transition:  
    background-color 0.2s,
    border-color 0.2s, 
    top 0.1s, 
    box-shadow 0.1s; 
    
}
.topbuttons a:hover, .topbuttons a:focus { 	
  background-color: grey; 	
  border-color: darkgray; 
  color: white; 
} 
.topbuttons a:active {
  top: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.socialmediabuttons{
	vertical-align: top;
    display:inline-block;  
    float: right;
    padding-left: 10px;
    width: 30px;
    
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.backtotopbutton a:link, a:visited {
  border-radius: 8px; 
  transition-duration: 0.4s;
  color: black; 
  background-color: #FFFFFF;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 200px;
  height: 18px;
  text-decoration: none;
  display: block; 
  margin-left: auto;
  margin-right: auto;

}
.backtotopbutton a:hover {
  background-color: #000000;
  color: white; 
}
.backtotopbutton a:active {
  background-color: #000C68; 
  color: white;
}

.playnowbutton a:link, a:visited {
  border-radius: 8px; 
  transition-duration: 0.4s;
  color: black; 
  background-color: #FFFFFF;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 200px;
  height: 18px;
  text-decoration: none;
  display: block; 
  margin-left: auto;
	margin-top:10px;
	margin-bottom:60px;
  margin-right: auto;

}
.playnowbutton a:hover {
  background-color: #000000;
  color: white; 
}
.playnowbutton a:active {
  background-color: #000C68; 
  color: white;
}

hr.v1{
    border-bottom: 3px solid #000000;
}
hr.v2{
    border-bottom: 3px solid #B1B1B1;
}

small {
	font-size: 14px;
}
s2 {
	font-size: 14px;
    text-align: center;
}
s3 {

    font-size: 14px;
    text-align: center;
    line-height: 30px;

}
s4 {
	margin-left: 78%;
    font-size: 14px;
    text-align: right;
    line-height: 14px;
}

/*RESUME INFORMATION*/
.job {
    padding-top:15px;
	position: relative;
    text-align: left;
	color: black;

}
.text {
    background-color: #FFFFFF;
	font-weight: bold;
    padding: 0 5px; 
}
.line {
    border-top: 1px dashed #fff; 
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -2;
}
.date{
	float:right;  
	font-weight: bold;
    background-color: #FFFFFF;
padding-right:200px;
}
.description{
	padding:3px;
	position: relative;
    text-align: left;
	color: black;
	line-height:32px;
}

ul {
  background: #FFFFFF;
  list-style-type: none;
  width: 1000px;
	padding-left:30px;
	line-height: 32px;
}
li {
  background: #FFFFFF;
	padding-left:10px;
  line-height: 32px;
}