/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1;
	color:black;
	background:white;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/
body {
	width: auto;
	line-height: 1;
	font-family: "Bookman Old Style";
	font:14px/1.6 serif;
	color:#333;
	background:#eee;
}

img{
	width: 1000px;
}

a, a:visited {
	color:blue;
	text-decoration:none;
}
a:hover, a:active {
	color:#000;
	text-decoration:none;
}

#dev7link {
    position:absolute;
    top:0;
    left:50px;
    background:url(images/dev7logo.png) no-repeat;
    width:60px;
    height:67px;
    border:0;
    display:block;
    text-indent:-9999px;
}

.slider-wrapper { 
	width: 80%; 
	margin: 100px auto;
}

.backtotopbutton a:link, a:visited {
  text-shadow: 2px 2px 4px gray;
  border-radius: 8px; 
  transition-duration: 0.4s;
  color: black; 
  background-color: #FFFFFF;
  box-shadow: 5px 10px 18px gray;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 300px;
  height: 30px;
  text-decoration: none;
  display: block; 
  margin-left: auto;
  margin-right: auto;
	margin-bottom:40px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

s3 {
	margin-left: 0%;
    font-size: 14px;
    line-height: 14px;
}

.backtotopbutton a:hover {
  background-color: #0084FF;
  color: white; 
}
.backtotopbutton a:active {
  background-color: #000C68; 
  color: white;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}